// Обычный
$font-text: "Bitter", sans-serif;

// Blue
$blue-bark: #194484;
$blue-medium: #0d6eb7;
$blue-menium-2: #276ed8;
$blue-lite: #bbd6ff;

//Green
$green-dark: #06b25f;
$green-lite: #66d6a0;

// Grey
$grey-dark: #242424;

// White
$white: #ffffff;
// Top Panel Color Background
$top-header-background: #f5faff;

@import "sass/__adaptive.scss";
